body {
    font-family: 'Press Start 2P', cursive; /* Using the pixelated font */
    background-color: #282c34; /* Example background color */
    color: #ffffff; /* Example text color */
}

header {
    display: flex; /* Makes the header a flex container */
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Vertically center items */
    padding: 20px; /* Adds some space around the header */
}

ul {
    text-align: left;
    font: inherit;
    vertical-align: baseline;
    font-size: 16px;
    font-weight: bold;
    width: 415px;
    float: left;
    list-style: none outside none;
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 14px 0px 0px;
    border-color: white;
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

nav ul li {
    display: inline; /* Displays items inline */
    margin-right: 20px; /* Space between items */
}

nav ul li a {
    color: #ffffff; /* Link color */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold text */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}


.header-container {
    width: 1000px; /* Fixed width for header content */
    margin: 0 auto; /* Center the container */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between elements */
    padding: 0 10px; /* Padding around the container */
}

.logo img {
    max-width: 260px; /* Slightly larger logo size */
    height: auto; /* Maintain aspect ratio */
}

.login-container {
    text-align: right; /* Align login/register links to the right */
    font-size: 16px; /* Set font size */
}

.login-container a {
    color: rgb(170, 170, 255); /* Light blue color for links */
    text-decoration: none; /* No underline */
}

.login-container a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Main content */
main {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

main h1 {
    font-size: 36px;
    color: #55a630; /* Change to your desired color */
}

main p {
    font-size: 18px;
    margin: 20px 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c6e71;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #2a4e56;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
