/* General page styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header section */
header {
    background-color: #55a630; /* Minecraft green */
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.logo img {
    max-width: 250px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative; /* For dropdown */
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Dropdown menu styles */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
}

.auth-links {
    margin-left: auto;
}

.auth-links a {
    color: rgb(170, 170, 255);
    font-weight: bold;
    text-decoration: none;
}

/* Main content */
main {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

main h1 {
    font-size: 36px;
    color: #55a630;
}

main p {
    font-size: 18px;
    margin: 20px 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c6e71;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #2a4e56;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
